.img_cntrd {
  width: 50%;
  margin-top: 111px;
  float: left;
  text-align: center;
}
.img_fix {
  margin-left: 322px;

}

.rev_button {
  position: relative;
  float: right;
  width: 658px;
  padding: 10px 40px;
}

.a_name {
  font-size: 35px;
  margin-top: 77px;
  text-align: center;
  font-family:  Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.back_button {
  float: left;
  margin-left: 60px;
  margin-top: 30px;
}

.name_links {
  font-size: 23px;
  font-family:  Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
.a_name {
  font-size: 35px;
  margin-top: 77px;
  text-align: center;
  font-family:  Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
.zglvk {
  font-size: 35px;
  margin-top: 44px;
  text-align: center;
  font-family:  Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
#images{
   text-align:center;
}
.bio {
  margin-top: 111px;
  font-size: 22px;
  font-family:  Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;

}

body {
  padding: 10px;
}

.carousel {
  position: relative;
  float: right;
  width: 658px;
  padding: 10px 40px;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: #eee;
  margin-top: 30px;


}

.carousel img {
  width: 130px;
  height: 130px;
  display: block;
}

.arrow {
  position: absolute;
  top: 60px;
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: #ccc;
  cursor: pointer;
}

.prev {
  left: 7px;
}

.next {
  right: 7px;
}

.gallery {
  width: 650px;
  overflow: hidden;
}

.gallery ul {
  height: 130px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  font-size: 0;
}

.gallery li {
  display: inline-block;
}
