// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}
.rev{
  -webkit-column-count: 0;
  -moz-column-count: 0;
  column-count: 0;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  -webkit-column-rule: 1px solid rgba(241,232,179,0.47);
  -moz-column-rule: 1px solid rgba(241,232,179,0.47);
  column-rule: 1px solid rgba(241,232,179,0.47);
}
