.header {
  font-size: 3.33rem;
  margin-top: 96px;
  text-align: center;
  font-family:  Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
.back_button {
  float: left;
  margin-left: 60px;
  margin-top: 30px;
}
.rev_body{
  display: block;
  max-width: 728px;
  margin: 0 auto;
  font-size: 18px;
  white-space: pre-wrap;
  font-family:  Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;

}
